/* Root Variable */
:root {
    --color-gradient-start: hsl(6, 100%, 80%);
    --color-gradient-end: hsl(335, 100%, 65%);

    --color-blue-200: hsl(243, 100%, 93%);
    --color-grayish-blue: hsl(229, 7%, 55%);
    --color-blue-850: hsl(228, 56%, 26%);
    --color-blue-950: hsl(229, 57%, 11%);
}

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Global Layout */
body {
    margin: 0;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;

    background-color: var(--color-blue-950);
    background-image: url("./images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Fylo Card */
.fylo-card {
    background-color: var(--color-blue-850);
    padding: 2.5rem;
    border-radius: 0.625rem 6.25rem 0.625rem 0.625rem;
}

/* Fylo Actions */
.fylo-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

/* Action Icons */
.action-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-950);
    border-radius: 0.625rem;
}

/*Component Area*/
.storage-component {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

/* Storage Card */
.storage-card {
    position: relative;
    background-color: var(--color-blue-850);
    color: var(--color-blue-200);
    padding: 2rem;
    border-radius: 0.625rem;
    text-align: center;
}

.storage-message {
    margin: 0 0 1rem;
    font-weight: 400;
}

.storage-message strong {
    font-weight: 700;
}

/* Gradient Storage Bar */
.storage-bar {
    width: 100%;
    height: 1.25rem;
    padding: 0.1875rem;
    background-color: var(--color-blue-950);
    border-radius: 999px;
}

.storage-bar-fill {
    position: relative;
    width: 81.5%;
    height: 100%;
    background: linear-gradient(to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
    );
    border-radius: 999px;
}

.storage-bar-fill::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.125rem;
    width: 0.625rem;
    height: 0.625rem;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* Capacity Labels */
.storage-limits {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
    color: var(--color-blue-200);
    font-size: 0.75rem;
}

/* Storage Labels */
.storage-limits {
    display: flex;
    justify-content: space-between;
    margin-top: 0.625rem;
    font-size: 0.75rem;
}
/* 185 Gb Label */
.storage-remaining {
    position: absolute;
    left: 50%;
    bottom: -2.25rem;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.5rem;
    background-color: white;
    border-radius: 0.625rem;
    color: var(--color-grayish-blue);
}

/* Big Number */
.storage-remaining strong {
    color: var(--color-blue-950);
    font-size: 2.5rem;
    line-height: 1;
}

/* Little Label */
.storage-remaining span {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    white-space: nowrap;
}


/* Desktop Layout */
@media (min-width: 768px) {
    .storage-component {
        max-width: 72rem;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        gap: 1.875rem;
    }

    .storage-remaining {
        left: auto;
        right: 2rem;
        bottom: auto;
        top: -3rem;
        transform: none;
    }

    .fylo-card {
        width: 21.875rem;
        flex-shrink: 0;
    }

    .storage-card {
        width: 33.75rem;
        text-align: left;
    }
}

/* Attributions */
.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}